<template>

    <div>

    <div class="card">

        <div class="card-body">

            <h2>Companies</h2>
            <code>{{message}}</code>
            <form id="comp_form" @submit.prevent="addCompany()" class="mb-3">
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" class="form-control mb-2" placeholder="Name" v-model="company.name">
                    <label>Parent Company</label>
                    <select v-model="company.parent_company_id" class="form-control" name="parent">
                        <option value="">Choose Company</option>
                        <option v-for="company in companies" :value="company.id">{{company.name}}</option>
                    </select>
                    <button type="submit" class="btn btn-info mt-2">Insert</button>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Parent Comapny</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(company, index) in companies" v-bind:key="company.id">
                    <th scope="row">{{company.id}}</th>
                    <td>{{ company.name }}</td>
                    <td><span v-if="company.parent_company != null">{{company.parent_company.name}}</span></td>
                    <!--<td>{{isset($company->parent_company->name)?$company->parent_company->name:''}}</td>-->
                    <!--<td><button @click="editCompany(company)" type="button" class="btn btn-warning">Edit</button></td>-->
                    <td><button v-b-modal.editModal @click="editCompany(company)" type="button" class="btn btn-warning">Edit</button></td>
                    <td><button @click="deleteCompany(company.id)" type="button" class="btn btn-danger">Delete</button></td>
                </tr>
                </tbody>
            </table>


        </div>

    </div>

        <b-modal @ok="updateCompany" ok-title="Update" id="editModal" title="BootstrapVue">
            <p class="my-4">Edit Company</p>
            <form>
                <label>Company Name</label>
                <input type="text" class="form-control mb-2" placeholder="Name" v-model="editcompany.name">
                <label>Parent Company</label>
                <select v-model="editcompany.parent_company_id" class="form-control" name="parent">
                    <option value="">Choose Company</option>
                    <option v-for="company in companies" :value="company.id">{{company.name}}</option>
                </select>
                <!--<button type="submit" class="btn btn-primary mt-2">Update</button>-->
            </form>
        </b-modal>

    </div>
</template>

<script>
    export default {
        name: 'Companies',
        props:{

        },
        data(){
            return {
                companies: [],
                editcompany: {
                    id: '',
                    name: '',
                    parent_company_id: ""
                },
                company: {
                    id: '',
                    name: '',
                    parent_company_id: ""
                },
                company_id: '',
                pagination:{},
                edit:false,
                message:''
            }
        },

        created(){
            this.fetchCompanies();
        },

        methods:{
            fetchCompanies(page_url){
                let vm = this;
                page_url ='/api/companies';
                fetch(page_url)
                    .then(res => res.json())
                .then(res =>{
                    // this.message = res;
                  console.log(res);
                  this.companies = res.companies;
                  // vm.makePagination(res.meta, res.links);
                })
                    .catch(err => console.log(err));
            },
            makePagination(meta, links){
                let pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    prev_page_url: links.prev,
                };

                this.pagination = pagination;
            },
            deleteCompany(id){
                if(confirm('Are You sure?')){
                    fetch(`/api/company/del/${id}`,{
                        method:'delete'
                    })
                        .then(res => res.json())
                        .then(data=>{
                            alert(data.message);
                            this.fetchCompanies();
                        })
                        .catch(err => console.log(err))
                }
            },
            addCompany(){
             // if(this.edit===false){
                 //Add
                 fetch('/api/company/add',{
                     method:'post',
                     body:JSON.stringify(this.company),
                     headers:{
                         'content-type':'application/json'
                     }
                 })
                     .then(res=>res.json())
                     .then(data=>{
                         this.message = data;
                         this.company.name='';
                         this.company.parent_company_id='';
                         alert(data.message);
                         this.fetchCompanies();
                     })
                     .catch(err=>{
                         alert(err);
                         console.log(err)
                     })
             // }else {
             //     //Update
             //
             // }
            },
            updateCompany(){
                fetch('/api/company/edit/'+this.editcompany.id,{
                    method:'put',
                    body:JSON.stringify(this.editcompany),
                    headers:{
                        'content-type':'application/json'
                    }
                })
                    .then(res=>res.json())
                    .then(data=>{
                        this.editcompany.name='';
                        this.editcompany.parent_company_id='';
                        // $('#editModal').modal('hide');
                        this.message = data;
                        $('#comp_form').scrollTop
                        alert(data.message);
                        this.$bvModal.hide('editModal');
                        this.fetchCompanies();
                    })
                    .catch(err=>{
                        alert(err.message);
                        // $('#editModal').modal('close');
                        this.$bvModal.hide('editModal');
                        this.editcompany.name='';
                        this.editcompany.parent_company_id='';
                        console.log(err)
                    })
            },
            editCompany(company){
                // this.edit = true;
                this.editcompany.id = company.id;
                this.editcompany.name = company.name;
                if (company.parent_company != null) {
                    this.editcompany.parent_company_id = company.parent_company.id;
                }else {
                    this.editcompany.parent_company_id = '';
                }
            }
        }
    }
</script>
<style scoped></style>