<template>


    <div class="card">

        <div class="card-body">

            <h2>Search Stations by radius from a given point</h2>
            <form @submit.prevent="searchStation()" class="mb-3">
                <div class="form-group">
                    <label>Radius in kilometers</label>
                    <input type="number" class="form-control mb-2" placeholder="Radius" v-model="formdat.radius">
                    <label>Latitude</label>
                    <input type="number" step=".00000001" class="form-control mb-2" placeholder="Latitude" v-model="formdat.latitude">
                    <label>Longitude</label>
                    <input type="number" step=".0000001" class="form-control mb-2" placeholder="Longitude" v-model="formdat.longitude">
                    <button type="submit" class="btn btn-info mt-2">Search</button>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(station, index) in stations" v-bind:key="station.id">
                    <th scope="row">{{station.id}}</th>
                    <td>{{ station.name }}</td>
                    <td>{{station.latitude}}</td>
                    <td>{{station.longitude}}</td>
                </tr>
                </tbody>
            </table>


        </div>

    </div>
</template>

<script>
    export default {
        name: 'getRadius',
        props:{

        },
        data(){
            return {
                stations: [],
                formdat: {
                    radius:'',
                    latitude:'',
                    longitude:'',
                },
            }
        },

        methods:{
            searchStation(){
                fetch('/api/stations/find',{
                    method:'post',
                    body:JSON.stringify(this.formdat),
                    headers:{
                        'content-type':'application/json'
                    }
                })
                    .then(res=>res.json())
                    .then(data=>{
                        this.stations = data.stations;
                    })
                    .catch(err=>console.log(err));
            }
        }
    }
</script>
<style scoped></style>