<template>


    <div class="card">

        <div class="card-body">

            <h2>Search Stations tree of the company</h2>
            <form @submit.prevent="searchStation()" class="mb-3">
                <div class="form-group">
                    <label>Company</label>
                    <select @change="onChange($event)" v-model="company_id" class="form-control" name="parent">
                        <option value="">Choose Company</option>
                        <option v-for="(company, index) in companies" :value="company.id" :selected="index === 0">{{company.name}}</option>
                    </select>
                    <button type="submit" class="btn btn-info mt-2">Search</button>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(station, index) in stations" v-bind:key="station.id">
                    <th scope="row">{{station.id}}</th>
                    <td>{{ station.name }}</td>
                    <td>{{station.latitude}}</td>
                    <td>{{station.longitude}}</td>
                </tr>
                </tbody>
            </table>


        </div>

    </div>
</template>

<script>
    export default {
        name: 'getStations',
        props:{

        },
        data(){
            return {
                stations: [],
                companies: [],
                company_id:'',
            }
        },

        created(){
            this.fetchCompanies();
        },

        methods:{
            onChange(event) {
                this.company_id = event.target.value;
            },
            fetchCompanies(page_url){
                let vm = this;
                page_url ='/api/companies';
                fetch(page_url)
                    .then(res => res.json())
                .then(res =>{
                  console.log(res);
                  this.companies = res.companies;
                })
                    .catch(err => console.log(err));
            },
            searchStation(){
                fetch('/api/company/get/'+this.company_id,{
                    method:'post',
                    body:JSON.stringify(this.station),
                    headers:{
                        'content-type':'application/json'
                    }
                })
                    .then(res=>res.json())
                    .then(data=>{
                        this.stations = data.company_stations;
                    })
                    .catch(err=>console.log(err));
            }
        }
    }
</script>
<style scoped></style>