<template>
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary mb-2">
        <div class="container">
            <router-link class="text-white" to="/companies">Companies</router-link>
            <router-link class="text-white" to="/stations">Stations</router-link>
            <router-link class="text-white" to="/get-stations">Search by Company</router-link>
            <router-link class="text-white" to="/get-radius">Search by Radius</router-link>
        </div>
    </nav>
</template>


<script>
    export default {
        name: "Navbar"
    }
</script>
