<template>

<div>
    <div class="card">

        <div class="card-body">

            <h2>Stations</h2>
            <code>{{message}}</code>
            <form @submit.prevent="addStation()" class="mb-3">
                <div class="form-group">
                    <label>Station Name</label>
                    <input type="text" class="form-control mb-2" placeholder="Name" v-model="station.name">
                    <label>Latitude</label>
                    <input type="number" step=".001" class="form-control mb-2" placeholder="Latitude" v-model="station.latitude">
                    <label>Longitude</label>
                    <input type="number" step=".001" class="form-control mb-2" placeholder="Longitude" v-model="station.longitude">
                    <label>Company</label>
                    <select v-model="station.company_id" class="form-control" name="parent">
                        <option value="">Choose Company</option>
                        <option v-for="(company, index) in companies" :value="company.id" :selected="index === 0">{{company.name}}</option>
                    </select>
                    <button type="submit" class="btn btn-info mt-2">Insert</button>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Comapny</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(station, index) in stations" v-bind:key="station.id">
                    <th scope="row">{{station.id}}</th>
                    <td>{{ station.name }}</td>
                    <td><span>{{station.company.name}}</span></td>
                    <!--<td>{{isset($company->parent_company->name)?$company->parent_company->name:''}}</td>-->
                    <td><button v-b-modal.editModal @click="editStation(station)" type="button" class="btn btn-warning">Edit</button></td>
                    <td><button @click="deleteStation(station.id)" type="button" class="btn btn-danger">Delete</button></td>
                </tr>
                </tbody>
            </table>


        </div>

    </div>

    <b-modal @ok="updateStation" ok-title="Update" id="editModal" title="BootstrapVue">
        <p class="my-4">Edit Station</p>
        <form>
            <div class="form-group">
                <label>Station Name</label>
                <input type="text" class="form-control mb-2" placeholder="Name" v-model="editstation.name">
                <label>Latitude</label>
                <input type="number" step=".001" class="form-control mb-2" placeholder="Latitude" v-model="editstation.latitude">
                <label>Longitude</label>
                <input type="number" step=".001" class="form-control mb-2" placeholder="Longitude" v-model="editstation.longitude">
                <label>Company</label>
                <select v-model="editstation.company_id" class="form-control" name="parent">
                    <option value="">Choose Company</option>
                    <option v-for="(company, index) in companies" :value="company.id" :selected="index === 0">{{company.name}}</option>
                </select>
            </div>
        </form>
    </b-modal>

    </div>
</template>

<script>
    export default {
        name: 'Stations',
        props:{

        },
        data(){
            return {
                stations: [],
                companies: [],
                editstation: {
                    id: '',
                    name: '',
                    latitude: '',
                    longitude: '',
                    company_id: ""
                },
                station: {
                    id: '',
                    name: '',
                    latitude: '',
                    longitude: '',
                    company_id: ""
                },
                station_id: '',
                message:''
                // pagination:{},
                // edit:false
            }
        },

        created(){
            this.fetchStations();
        },

        methods:{
            fetchStations(page_url){
                let vm = this;
                page_url ='/api/stations';
                axios.get('/api/stations')
                    // .then(res => res.json())
                .then(res =>{
                  console.log(res);
                  this.stations = res.data.stations;
                  this.companies = res.data.companies;
                  // vm.makePagination(res.meta, res.links);
                })
                    .catch(err => console.log(err));
            },
            makePagination(meta, links){
                let pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    prev_page_url: links.prev,
                };

                this.pagination = pagination;
            },
            deleteStation(id){
                if(confirm('Are You sure?')){
                    fetch(`/api/station/del/${id}`,{
                        method:'delete'
                    })
                        .then(res => res.json())
                        .then(data=>{
                            alert(data.message);
                            this.fetchStations();
                        })
                        .catch(err => console.log(err))
                }
            },
            addStation(){
             // if(this.edit===false){
                 //Add
                 fetch('/api/station/add',{
                     method:'post',
                     body:JSON.stringify(this.station),
                     headers:{
                         'content-type':'application/json'
                     }
                 })
                     .then(res=>res.json())
                     .then(data=>{
                         this.station.name='';
                         this.station.longitude='';
                         this.station.latitude='';
                         this.station.company_id='';
                         this.message = data;
                         alert(data.message);
                         this.fetchStations();
                     })
                     .catch(err=>{
                         console.log(err);
                         this.message = err;
                     })
             // }else {
                 //Update
             },
            updateStation(){
                fetch('/api/station/edit/'+this.editstation.id,{
                    method:'put',
                    body:JSON.stringify(this.editstation),
                    headers:{
                        'content-type':'application/json'
                    }
                })
                    .then(res=>res.json())
                    .then(data=>{
                        this.editstation.name='';
                        this.editstation.longitude='';
                        this.editstation.latitude='';
                        this.editstation.company_id='';
                        this.message = data;
                        alert(data.message);
                        this.fetchStations();
                    })
                    .catch(err=>{
                        alert(err);
                        this.editstation.name='';
                        this.editstation.latitude='';
                        this.editstation.longitude='';
                        this.editstation.company_id='';
                        console.log(err)
                    })
            },
            editStation(station){
                // this.edit = true;
                this.editstation.id = station.id;
                this.editstation.name = station.name;
                this.editstation.latitude = station.latitude;
                this.editstation.longitude = station.longitude;
                this.editstation.company_id = station.company.id;
            }
        }
    }
</script>
<style scoped></style>